body {
	background-color: aquamarine;
}
h1 {
	text-align: center;
	font-size: 96px;
	background-color: white;
	max-width: auto;
	margin-left: 100px;
	margin-right: 100px;
}
.topContainer{
	border-color: black;
	border:solid;
	padding: auto;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;

}
#animals-view {
	column-count: 3;

}
form {
	padding-left: 450px;
}
/*#buttons-view {
	font-size: 96px;
	padding: 30px 60px;
}*/
/*.animals-view {
	float: right;
}*/